/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family:Arial, Helvetica, sans-serif;
}

.page{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.content{
    flex: 1 1 auto;
}

.greeting{
    background-color: #445162;
    padding: 50px 15px;
}

.greeting__rows{
    display: flex;
    justify-content: space-between;
}

.greeting__body{
    color: #ffffff;
    padding-right: 30px;
}

.greeting__title{
    font-size: 60px;
	line-height: 1.2;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    margin-bottom: 38px;
}

.greeting__list{
    font-size: 20px;
    line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}

.greeting__list li:before{
    content: url("../img/icons/check.png");
	margin-right: 9px;
	vertical-align: -2px;
}

.title{
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.text{
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.info{
    padding: 50px 15px;
}

.info__rows{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info__body{
    flex: 1 1 100%;
    max-width: 641px;
}

.info__title{
    margin-bottom: 30px;
}

.info__image{
    flex: 0 0 430px;
    margin-bottom: 10px;
}

.info__text p{
    margin-bottom: 25px;
}

.info__text p:last-child{
    margin-bottom: 0;
}

.columns{
    padding: 50px 0 20px 0;
    background-color: #F5F5F5;
}

.columns__title{
    text-align: center;
    margin-bottom: 30px;
}

.columns__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.columns__element{
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 8px;
}

.item__row{
    display: flex;
}

.item__body{
    margin-left: 14px;
}

.item__title{
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 10px;
}

.item__square{
    flex: 0 0 201px;
    background-color: #445161;
    width: 201px;
    height: 151px;
}

.item__body{
    flex: 1 1 100%;
}


.cards{
    padding: 50px 0;
}

.cards__title{
    text-align: center;
    margin-bottom: 30px;
}

.cards__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22.5px;
    align-items: stretch;
}

.cards__container{
    max-width: 990px;
    margin: 0 auto;
}

.cards__column{
    flex: 0 1 33%;
    padding: 0 22.5px;
    margin: 10px 0;
    display: flex;
}

.cards__card{
    background-color: #445162;
    border: #445162 solid 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.card__sublabel{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 18px 0 12px;
}

.card__label{
    background-color: #FFFFFF;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    text-align: center;
    padding: 18px 0 17px;
    text-transform: lowercase;
}

.card__description{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding: 19px 30px 0 20px;

    flex: 1 1 auto;
}

.card__description p{
    margin-bottom: 20px;
}

.card__description p:last-child{
    margin-bottom: 0;
}

.card__button{
    display: block;

    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #445161;
    text-transform: lowercase;
    text-align: center;

    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 5px;
    height: 40px;
}

.footer{
    background-color: #F5F5F5;
}

.footer__row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.footer_copyright{
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #445162;
}